<div class="note-container card">
  <h2>Create {{ noteType | titlecase }} Note</h2>
  <form (ngSubmit)="onSubmit()" #noteForm="ngForm">
    <ng-container [ngSwitch]="noteType">
      <div *ngSwitchCase="'text'">
        <div class="form-group">
          <label for="noteTitle">Title:</label>
          <input id="Title" name="textcontent" [(ngModel)]="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="Content">Note:</label>
          <textarea id="Content" name="textcontent" [(ngModel)]="content" class="form-control" rows="10" required></textarea>
        </div>
      </div>
      <div *ngSwitchCase="'article'">
        <div class="form-group">
          <label for="articleTitle">Title:</label>
          <input id="articleTitle" name="articleTitle" [(ngModel)]="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="articleContent">Note:</label>
          <textarea id="articleContent" name="articleContent" [(ngModel)]="content" class="form-control" rows="10" required></textarea>
        </div>
      </div>
      <div *ngSwitchCase="'picture'">
        <div class="form-group">
          <label for="pictureTitle">Title:</label>
          <input id="pictureTitle" name="pictureTitle" [(ngModel)]="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="pictureContent">Content:</label>
          <textarea id="pictureContent" name="pictureContent" [(ngModel)]="content" class="form-control" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="pictureFile">Select Image:</label>
          <input type="file" id="pictureFile" name="pictureFile" (change)="onFileSelected($event)" class="form-control" required>
        </div>
        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" alt="Image Preview">
        </div>
      </div>
      

      <div *ngSwitchCase="'document'">
        <div class="form-group">
          <label for="documentTitle">Title:</label>
          <input id="documentTitle" name="documentTitle" [(ngModel)]="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="documentType">Document Type:</label>
          <input id="documentType" name="documentType" [(ngModel)]="documentType" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="documentFile">Attach PDF:</label>
          <input type="file" id="documentFile" name="documentFile" (change)="onFileSelected($event)" class="form-control" required>
        </div>
        <div *ngIf="pdfPreview" class="pdf-preview">
          <p>{{ pdfFileName }}</p>
        </div>
      </div>
      <div *ngSwitchCase="'Meeting'">
        <div class="form-group">
          <label for="pictureTitle">Title:</label>
          <input id="pictureTitle" name="pictureTitle" [(ngModel)]="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="pictureContent">Content:</label>
          <textarea id="documentType" name="documentType" [(ngModel)]="documentType" class="form-control" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="pictureFile">Select Image:</label>
          <input type="file" id="pictureFile" name=" " (change)="onFileSelected($event)" class="form-control" required>
        </div>
        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" alt="Image Preview">
        </div>
      </div>
    </ng-container>
    <div class="button-group">
      <button type="submit" [disabled]="noteForm.invalid" class="btn btn-primary">Save Note</button>
      <button routerLink="/" class="btn btn-secondary">Back to Home</button>
    </div>
  </form>
</div>
